<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GovNaB ToDo Management App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='img/background_login.jpg') }})">

    {% block todo %}

    {% endblock %}
    <footer class="foot">
        Copyright &copy; Yashasvi Bhatt 2021
    </footer>
</body>
</html>